.LocationSection {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  width: 400px;
  align-items: center;
}

.LocationIcon {
  width: 100px;
  height: 100px;
}

.LocationWrapper {
  padding: 16px 0px;
}

.LocationName {
  font-size: 18px;
  padding: 0px 10px;
}

.PositionWrapper {
  display: flex;
}

.PositionWrapper p {
  padding: 0px 10px;
  margin: 5px 0px;
}

.PositionIndicator {
  padding-right: 16px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 450px) {
  .LocationSection {
    width: 250px;
    justify-content: center;
  }

  .LocationIcon {
    display: none;
  }
}
