.btn{
  padding: 10px 10px;
  font-size: 16px;
  background-color: orange;
  box-shadow: 1px 1px;
  font-weight: 600;
}

.btn::after{
  content: 'X';
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 50%; 
}
